{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": "eslint-config-unosquare",
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "no-underscore-dangle": "warn",
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  }
}